body {
    padding: 10px;
    border: solid 5px #fcfbe8;
    background-image: url(../img/background.jpeg);
}

#header-image {
    padding: 20px;
    font-family: Montserrat, montserrat, HelveticaNeue, Helvetica Neue, Helvetica-Neue, helvetica, arial, sans-serif;
}

.row {
    padding: 5px;
    margin: 5px;
}

button,
#config-data {
    padding: 5px;
    width: 60%;
}

#get-data-layer,
#get-uc-data,
#get-scripts,
#get-consents,
#get-config {
    padding: 5px;
}

#btn-data-layer,
#btn-consents,
#btn-scripts,
#btn-uc-data {
    background-color: #157cac;
    color: rgb(243, 249, 250);
    border-radius: 12px;
    border-color: rgb(233, 222, 248);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btn-inject-cmp {
    width: 100px;
    background-color: #157cac;
    color: rgb(243, 249, 250);
    border-color: rgb(233, 222, 248);
    border-radius: 7px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 35px;
}

#get-settingsid {
    width: 100px;
    border-color: rgb(233, 222, 248);
    border-radius: 7px;
    text-align: center;
    height: 35px;
}