body {
    padding: 10px;
    border: solid 5px #fcfbe8;
    background-image: url(../img/background.jpeg);
}

#header-image {
    padding: 20px;
    font-family: Montserrat, montserrat, HelveticaNeue, Helvetica Neue, Helvetica-Neue, helvetica, arial, sans-serif;
}

row {
    padding: 5px;
    margin: 5px;
}

button,
#config-data {
    padding: 5px;
    width: 70%;
}

#get-data-layer,
#get-uc-data,
#get-scripts,
#get-consents,
#get-config {
    padding: 5px;
}

#btn-data-layer,
#btn-consents,
#btn-scripts,
#btn-uc-data {
    background-color: #0045a5;
    color: white;
    border-radius: 20px;
}